# 编译产物
*.exe
*.o
*.res
*.aps
*.out
/out/
/build/

# IDE 配置文件
.vs/
.vscode/
*.sln
*.user

# 运行时生成的配置与数据
imgui.ini
mockstick_config.ini
logs/
profiles/
*.mstr

# 运行依赖（本地自用，无需上传）
adb.exe
scrcpy.exe
*.dll
scrcpy-server
